{% load static %}

<b class="tooltip">
    <img src="{% static 'svg/metalmine.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">metal mine</span>
</b>

<b class="tooltip">
    <img src="{% static 'svg/crystalmine.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">crystal mine</span>
</b>

<b class="tooltip">
    <img src="{% static 'svg/deuteriummine.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">deuterium mine</span>
</b>

<b class="tooltip">
    <img src="{% static 'svg/solarplant.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">solar plant</span>
</b>

<b class="tooltip">
    <img src="{% static 'svg/fusionmine.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">fusion plant</span>
</b>

<b class="tooltip">
    <img src="{% static 'svg/metalstorage.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">metal storage</span>
</b>

<b class="tooltip">
    <img src="{% static 'svg/crystalstorage.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">crystal storage</span>
</b>

<b class="tooltip">
    <img src="{% static 'svg/deuteriumstorage.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">deuterium_storage</span>
</b>

<b class="tooltip">
    <img src="{% static 'svg/robotfactory.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">robotics factory</span>
</b>

<b class="tooltip">
    <img src="{% static 'svg/shipyard.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">shipyard</span>
</b>

<b class="tooltip">
    <img src="{% static 'svg/researchyard.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">research laboratory</span>
</b>

<b class="tooltip">
    <img src="{% static 'img/alliancedepot.png' %}" alt="ship" class="icon">
    <span class="tooltiptext">alliance depot</span>
</b>

<b class="tooltip">
    <img src="{% static 'svg/missileinterplanetary.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">missile silo</span>
</b>

<b class="tooltip">
    <img src="{% static 'svg/nanitefactory.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">nanite factory</span>
</b>

<b class="tooltip">
    <img src="{% static 'svg/planet.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">terraformer</span>
</b>

<b class="tooltip">
    <img src="{% static 'svg/repairdock.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">repair dock</span>
</b>
