{% load static %}

<b class="tooltip">
    <img src="{% static 'svg/rocketlauncher.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">rocket launcher</span>
</b>

<b class="tooltip">
    <img src="{% static 'svg/lightlaser.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">light laser</span>
</b>

<b class="tooltip">
    <img src="{% static 'svg/heavylaser.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">heavy laser</span>
</b>

<b class="tooltip">
    <img src="{% static 'svg/gauss.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">gauss canon</span>
</b>

<b class="tooltip">
    <img src="{% static 'svg/ion.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">ion canon</span>
</b>

<b class="tooltip">
    <img src="{% static 'svg/plasma.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">plasma canon</span>
</b>

<b class="tooltip">
    <img src="{% static 'svg/shieldsmall.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">shield small</span>
</b>

<b class="tooltip">
    <img src="{% static 'svg/shieldbig.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">shield big</span>
</b>

<b class="tooltip">
    <img src="{% static 'svg/missileinterceptor.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">missile interceptor</span>
</b>

<b class="tooltip">
    <img src="{% static 'svg/missileinterplanetary.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">missile interplanetary</span>
</b>