{% load static %}

<b class="tooltip">
    <img src="{% static 'svg/lightfrighter.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">light frighter</span>
</b>

<b class="tooltip">
    <img src="{% static 'svg/heavyfrighter.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">heavy frighter</span>
</b>

<b class="tooltip">
    <img src="{% static 'svg/colony.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">colony ship</span>
</b>

<b class="tooltip">
    <img src="{% static 'svg/recycle.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">recycler</span>
</b>

<b class="tooltip">
    <img src="{% static 'svg/lightfighter.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">light fighter</span>
</b>

<b class="tooltip">
    <img src="{% static 'svg/heavyfighter.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">heavy fighter</span>
</b>

<b class="tooltip">
    <img src="{% static 'svg/cruser.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">cruser</span>
</b>

<b class="tooltip">
    <img src="{% static 'svg/battleship.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">battleship</span>
</b>

<b class="tooltip">
    <img src="{% static 'svg/interseptor.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">interseptor</span>
</b>

<b class="tooltip">
    <img src="{% static 'svg/bomber.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">bomber</span>
</b>

<b class="tooltip">
    <img src="{% static 'svg/destroyer.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">destroyer</span>
</b>

<b class="tooltip">
    <img src="{% static 'svg/deathstar.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">deathstar</span>
</b>

<b class="tooltip">
    <img src="{% static 'svg/reaper.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">reaper</span>
</b>

<b class="tooltip">
    <img src="{% static 'svg/explorer.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">explorer</span>
</b>

<b class="tooltip">
    <img src="{% static 'svg/spyprobe.svg' %}" alt="ship" class="icon">
    <span class="tooltiptext">spyprobe</span>
</b>
